.toolbar {


    position:absolute;


    top:15px;

    left:50%;


    transform:translateX(-50%);



    width:auto;


    min-width:300px;



    display:flex;


    justify-content:space-between;

    align-items:center;


    gap:20px;



    padding:10px 16px;



    background:rgba(15,23,42,.75);


    backdrop-filter:blur(10px);



    border-radius:14px;


    color:white;


}



.toolbar h3 {


    font-size:15px;

    font-weight:600;


}



.toolbar-actions {


    display:flex;


    gap:8px;


}



.toolbar button {


    width:34px;

    height:34px;


    border-radius:50%;


    background:#2563eb;


    color:white;



    display:flex;


    justify-content:center;


    align-items:center;


    font-size:17px;


}



.toolbar button:hover {


    transform:scale(1.1);

}